.card {
    @include templateFlex(center, center);
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 13px;
    background-color: $light;
    @include templateTransition(all);

    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
        background-color: transparentize($primary, 0.8);
    }

    &__title {
        max-width: 188px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__list {
        position: relative;
        @include templateFlex(center, center);
        flex-direction: column;
    }

    &__item {
        max-width: 180px;
        line-height: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.email {
    &:hover {
        .tooltip {
            opacity: 1;
            display: block;
        }
    }
}