.successfull-banner {
    padding-bottom: 100px;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 400ms ease-out forwards;
    &__row {
        @include templateFlex(center, center);
        flex-direction: column;
        gap: 50px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}